<table class="table table-striped table-condensed">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Party Size</th>
    <th>Note</th>
  </tr>
  <% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.date %></td>
    <td><%= reservation.time %></td>
    <td></td>
    <td></td>
    <td><%= reservation.number_of_guests %></td>
    <td><%= reservation.note %></td>
  </tr>
  <% end %>
</table>
